<app-title-bar [title]="'Audit Log'"></app-title-bar>

<div>
  <p-table
    [value]="logs"
    [columns]="cols"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 20, 50]"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">{{ col.header }}</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.field">

            <ng-container *ngSwitchCase="'timestamp'">
              {{ rowData[col.field] | formatDate }}
            </ng-container>

            <ng-container *ngSwitchCase="'details'">
              <button
                pButton
                text
                type="button"
                icon="pi pi-info-circle"
                (click)="showDetails(rowData)"
                class="p-button-text"></button>
            </ng-container>


            <ng-container *ngSwitchDefault>
              {{ rowData[col.field] }}
            </ng-container>

          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


<p-dialog
  [(visible)]="detailsVisible"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '50vw' }"
  [header]="'Audit Log Details'">
  <div class="p-fluid">
    <div class="p-fluid">
      <ng-container *ngFor="let detail of entries; let last = last">
        <div class="detail-row">
          <div class="detail-key">{{ formatKey(detail[0]) }}</div>
          <div class="detail-value">{{ detail[1] }}</div>
        </div>
        <p-divider></p-divider>
      </ng-container>
    </div>
  </div>
</p-dialog>
