<p-toolbar>
  <ng-template #start>
    <span class="title">{{ title }}</span>
  </ng-template>
  <ng-template #center>
    <p-button text *ngIf="hasRole('SYSADMIN')" [routerLink]="'/client/create'">Create Client</p-button>
    <p-button text *ngIf="hasRole('SYSADMIN')" [routerLink]="'/clients'">Manage Clients</p-button>
    <p-button text *ngIf="hasRole('SYSADMIN') || hasRole('AUDITOR')" [routerLink]="'/audit-logs'">Audit</p-button>
  </ng-template>
  <ng-template #end>
    <p-splitbutton text [label]="username" [model]="items" />
  </ng-template>
</p-toolbar>
